@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Reckoner';
  src: url('/assets/fonts/ReckonerBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
