@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont.woff2") format("woff2");
  font-weight: 200 900;
}

@font-face {
  font-family: "Armarna";
  src: url("Amarna-Italic-VariableFont_wght.woff2") format("woff2");
}

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;
}

@keyframes slide-to-center {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-center {
  animation: slide-to-center 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-from-left {
  animation: slide-from-left 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-from-bottom {
  animation: slide-from-bottom 0.9s ease-out forwards;
}

/* border animation */
:root {
  --angle: 45deg;
  --opacity: 0.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.rainbow {
  --border-size: 0.3rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #00ffff 0deg 120deg,
      #2dc1d4 120deg 240deg,
      #05a5a5 240deg 360deg
    )
    1 stretch;
  background: rgb(255 255 255 / var(--opacity));
}

@property --opacity {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes opacityChange {
  to {
    --opacity: 1;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.rainbow {
  animation:
    rotate 7s linear infinite,
    opacityChange 3s infinite alternate;
}
